.header_block{
    margin: auto;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head_comp2{
    width: 184px;
}
.bar_line{
    background-image: url("images/Rectangle.png");
    position: sticky;
    top: 0;
    background-size: cover;
    padding: 20px 0 19px;
}

.container_ref{
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
    }
.annonce{
    border: 1px solid red;
    background-image: url("images/image.png");
    background-size: cover;
    padding: 160px 20px;
    
}
.annonce_text{
    border: 1px solid red;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: white;
    width: 1110px;
    margin: 0 auto;
    
}
.the_problem{
    border: 1px solid red;
    width:1110px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    text-align: center;
    
    margin: 48px auto 0;
    /*margin-bottom: 16px; */
    color: #007765;
}
.problem_text{
    border: 1px solid red;
    width: 1110px;
    margin:  0 auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 92px;
    color: #000000;
}
.problem_block{
    border: 1px solid red;
    padding: 0 20px;

}
.margin_bl{
    margin-block-end: 16px;
    margin-block-start:16px;
}

.hero_block{
    border: 1px solid red; 
    background-image: url("images/image\ \(1\).png");
    background-size: cover;
    padding:128px 20px 127px 20px;
}
.hero_block_text{
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin:0 auto;
    width:1110px;
    color: #FFFFFF;
}
.intro_block{
    padding: 48px 20px 92px 20px;
    margin: auto;
}
.intro_block_header{
    border: 1px solid red;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
/* identical to box height */
    text-align: center;
    color: #007765;
    margin: 0 auto 16px;; 
    width: 1110px;
}
.intro_block_imgTxt{
    border: 1px solid red;
    width: 1110px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    
}
.intro_block_imgTxt_float{
    float: left;
    margin-right: 48px;
}
.intro_block_txt{
    border: 1px solid red;
    width: 1110px;
    margin: 40px auto 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    
}
.intro_block_txt_margin{
    margin-block-end: 32px;
}
.team{
    background-color: #EEEEEE;
    margin: auto;
    padding: 58px 20px 112px 20px;
}
.team_header{
    border: 1px solid red;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
/* identical to box height */
    width: 1110px;
    margin: 0 auto 32px;
    text-align: center;
    color: #007765;
}
.team_photo{
    border: 1px solid red;
    width:1110px;
    margin: 0 auto 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team_photo_card{
    border: 1px solid red;
    /* width: 350px; */
    flex-basis: 33%;
    height: 283px;
}
.team_photo_img{
    border: 1px solid red;
    height: 168;
    width: 168px;
    /* margin: 24px 92px 92px; */
    margin: 24px auto 12px;
}
.team_name{
    border: 1px solid red;  
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* identical to box height */
color: #007765;
text-align: center;
}
.team_position{
    border: 1px solid red;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}
.copyright_block{
    background-color: #333333;
    padding: 50px 20px 62px; 
}
.copyright_rule{
    border: 1px solid red;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 540px;
    color: #FFFFFF;
    margin: 0 auto;
}
p {
    margin-block-end: 0;
    margin-block-start: 0; 
}
a{
    color: white; /* Цвет ссылок */
    text-decoration: none;
}
 a:visited {
    color: white; /* Цвет посещенных ссылок */
    text-decoration: none;
}
 a:active {
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}
body{
    margin: 0;
}
@media screen and (max-width: 1149px)
    {
        .bar_line{
            width: 1149px;
        }
    }
